@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import "compass";
@import "settings";
@import "foundation";
@import "utility";
@import "colors";
@import "shapes";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/* Compass configuration */

// Box shadow

// $default-box-shadow-color: #7b919d;
$default-box-shadow-color: rgba(0,0,0,0.35);
$default-box-shadow-blur: 10px;
$default-box-shadow-v-offset: 2px;

html {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
}
b {
  font-weight: 400;
}
canvas {
  width: 100%;
  border: red solid 2px;
}

body {
  background-color: $cyan-bright;
}
.button a {
  color: $white;
  &:hover {
    color: $white;
  }
}
@media #{$small-only} {
  body p {
    text-align: left;
  }
}
p {
  color: $white;
  text-align: justify;
  font-weight: 100;
  margin-top: 1.5em;
}
li {
  font-weight: 100;
}

h1, h2, h3, h4, h5 {
  color: $white;
  font-weight: 200;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
}

button, .button {
  background-color: transparent;
  border: 2px solid $white;
  border-radius: 2em;
  width: 100%;

  &:hover, &:focus {
    background-color: $cyan-bright;
  }
}
.background-image {

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  svg#bg_top .line {

    stroke-dasharray: 640;
    stroke-dashoffset: 0;
    stroke-width: 2px;
    stroke: $white;

    -webkit-animation: dash 2s linear forwards;
    animation: dash 2s linear;
    &.fast {
      -webkit-animation-duration: 1s;
    }
    &.slow {
      -webkit-animation-duration: 2.5s;
    }
  }
  
}

.header {
  background-color: $red;
  position: relative;
  // @include single-box-shadow;

  .header-container {
    height: 0;
    width: 100%;
    padding-bottom: 33.3333333333%;

    // background: url(../img/bg_top.svg);
    // background-size: contain;
  }

  .header-video {
    opacity: 1;
    z-index: 10;
    // width: 35.4166667%;
    width: 35.2%;
    display:block;
    position: absolute;
    top: -2.75%;
    // left: 32.31%;
    left: 32.42%;

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;

    &.hidden {
      opacity: 0;
    }


    -webkit-transform:rotate(45deg);
  }
  .header-profile-pic {
    z-index: 9;
    width: 35.2%;
    position: absolute;
    top: -2.8%;
    left: 32.4%;

    -webkit-transform: rotate(44.94deg);
  }

  .logo-container {

    &.opaque {
      opacity: 0.7;
    }

    z-index: 100;

    position: relative;
    // display: none;

    padding-top: 8.3333333%;
    width: 16.666667%;
    margin: 0 auto;

    .img-container-1x {
      height: 0;
      width: 100%;
      padding-bottom: 50%;
    }
    .img-container-2x {
      height: 0;
      width: 100%;
      padding-bottom: 100%;
    }
    img {
      height: auto;
      display: block;
      width: 100%;
    }
    .resume-title {
      padding-top: 37%;
    }
    .logo-subtitle {
      padding-top: 14%;
    }
  }

  .scroll-down .triangle-down-2 {
    position: absolute;
    left: (50% - 8.333333333%);
    z-index: 100;
  }
  .triangle-label {
    color: $white;
    display: block;
    width: 16.66666667%;
    text-align: center;
    // font-style: italic;
    font-size: 1rem;
    position: relative;
    z-index: 100;
    padding-top: 0.5em;
    font-size: 1.8em;

  }
  @media all and (max-width: 1440px) {
    .triangle-label {
      padding-top: 0.5em;
      font-size: 1.4em;
    }
  }
  @media all and (max-width: 1024px) {
    .triangle-label {
      padding-top: 0.5em;
      font-size: 0.9em;
    }
  }
  @media all and (max-width: 640px) {
    .triangle-label {
      padding-top: 0.4em;
      font-size: 0.60em;
    }
  }
}
section.grey {
  background-color: $dark-grey;

  .grey-container {
    // height: 0;
    // width: 100%;
    // padding-bottom: 25%;

    // background: url(../img/bg_middle.svg);
    // background-size: contain;
  }
}
section.cyan {
  background: $cyan-dark;

  padding-top: 3em;
  padding-bottom: 2em;

  // @include single-box-shadow;

  color: $white;

  .cyan-container {
    // width: 100%;
    // padding-bottom: 25%;
    // height: 0;

    // background: url(../img/bg_bottom.svg);
    // background-repeat: no-repeat;
    // background-size: contain;
  }

}
section.skills {
  color: $dark-grey;
  background-color: $white;
  // height: 0;
  // padding-bottom: 58.333333333%;
  padding-bottom: 4em;

  .button {
    background-color: $cyan-bright;
  }

  h1, h2, h3, h4 {
    color: $dark-grey;
  }
  p {
    //To improve contrast
    color: black;
    b {
      color: $dark-grey;
    }
  }

  .skill-list {
    position: relative;
    column {
      padding-left: 20%;
      padding-right: 20%;
    }
    hr {
      width: 90%;
    }
    h3 {
      text-align: left;
      padding-bottom: 0;
    }
    ul {
      list-style-type: none;
      margin-left: 0;

      li {
        //To improve contrast
        color: black;
      }
    }
  }

@media #{$medium-up} {
  .skill-list {
    top: 1000px;
    opacity: 0;
  }
}

  .venn-diagram {
    
    .container {
      position: relative;
      height: 0;
      padding-bottom: 42.744%;

      svg {
        position: absolute;
        width: 28%;
        height: 100%;
        margin-left: 4%;
        @include transition-property(all);
        @include transition-duration(1s);
        // @include transition-timing-function(ease-in);

        &#dev-circle {
          bottom: -190px;
          left: 22%;
        }

        &#ux-circle {
          bottom: 0;
          left: 32.5%;
        }

        &#business-circle {
          bottom: -190px;
          left: 43%;
        }

        path.circle {
          stroke: $dark-grey;
          fill: none;
          stroke-width: 10px;
          stroke-opacity: 0%;
          stroke-dasharray: 4955.64404296875;
          stroke-dashoffset: 4955.64404296875;
          
          &.animate {
            -webkit-animation: circle 2s linear forwards;
          }
        }
        path.diamond {
          fill: $dark-grey;
          fill-opacity: 0%;
          stroke: $dark-grey;
          stroke-dasharray: 560;
          stroke-dashoffset: 560;
          
          &.animate {
            -webkit-animation: diamond 1.5s linear forwards;
          }
        }

        path.wireframe {
          fill: $dark-grey;
          fill-opacity: 0%;
          stroke: black;
          stroke-dasharray: 1075;
          stroke-dashoffset: 1075;

          &.animate {
            -webkit-animation: wireframe 1.5s linear forwards;
          }
        }
        path.abacus {
          fill: $dark-grey;
          fill-opacity: 0%;
          stroke: black;
          stroke-dasharray: 1071;
          stroke-dashoffset: 1071;

          &.animate {
            -webkit-animation: abacus 1.5s linear forwards;
          }
        }
      }
      &.animate-circle path.circle {
        -webkit-animation: circle 2s linear forwards;
      }
      &.animate-business path.abacus {
        -webkit-animation: abacus 1.5s linear forwards;
      }
      &.animate-ux path.diamond {
        -webkit-animation: diamond 1.5s linear forwards;
      }
      &.animate-development path.wireframe {
        -webkit-animation: wireframe 1.5s linear forwards;
      }
      &.animate-position svg {
        &#dev-circle {
          bottom: 0;
          left: 0%;
        }

        &#ux-circle {
          bottom: 0;
          left: 32.5%;
        }

        &#business-circle {
          bottom: 0;
          left: 65%;
        }
      }
    }
  }
}
section.get-in-touch {
  background-color: $dark-grey;
  
  .row {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
}

footer {
  background-color: $dark-grey;
  height: 0;
  padding-bottom: 25%;
}

.triangle-down-1.red {
  @include triangle-down(8.333333333%, $red);
}
.triangle-down-1.cyan-dark {
  @include triangle-down(8.333333333%, $cyan-dark);
}
.triangle-down-2.red {
  @include triangle-down(16.6666667%, $red);
}
.triangle-down-2.cyan-dark {
  @include triangle-down(16.6666667%, $cyan-dark);
}
.triangle-down-3.red {
  @include triangle-down(25%, $red);
}
.triangle-down-3.cyan-dark {
  @include triangle-down(25%, $cyan-dark);
}
.triangle-down-4.red {
  @include triangle-down(33.3333333%, $red);
}
.triangle-down-4.cyan-dark {
  @include triangle-down(33.3333333%, $cyan-dark);
}
@media #{$small-only} {
  .triangle-down-2.red {
    @include triangle-down(19%, $red);
  }
}

.row-justified {
  margin: 4em 0;
  text-align: justify;

  [class^="client-icon"] {
    display: inline-block;
  }
  .client-icon-airtame {
    width: 27.2030651%;
  }
  .client-icon-drobe {
    width: 12.899106%;
  }
  .client-icon-cbs {
    width: 27.5862069%;
  }
  .client-icon-nsa {
    width: 14.1762452%;
  }
  .client-icon-tigerspring {
    width: 15.5172414%;
  }
  .client-icon-suitable {
    width: 16.5364583%;
  }
  .client-icon-cesa {
    width: 16.015625%;
  }
  .client-icon-dakom {
    width: 16.4112388%;
  }
  .client-icon-formpipe {
    width: 17.2413793%;
  }
  .client-icon-agillic {
    width: 12.0689655%;
  }
  &:after {
    content: '';
    width: 100%;
    display: inline-block;
  }
}
.introduction {

  padding-top: 2em;
  padding-bottom: 2em;

  .avatar {
    margin-bottom:1em;
    border-radius: 50%;
  }

}

.paper-container {
  position: relative;
  left: 0;
  -webkit-transition:all 1.0s ease-in-out;
  -moz-transition:all 1.0s ease-in-out;
  -o-transition:all 1.0s ease-in-out;
  transition:all 1.0s ease-in-out;

}
.paper-container.off-canvas {
  left: -10000px;
}
.paper-container.remove-from-flow {
  position: absolute;
}
section.clients {
  p, h1, h2, h3, h4, h5 {
    //Tweak white color for slightly better contrast
    color: #fff;
  }
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: $cyan-dark;

  .clients-logos-mobile {
    padding-top: 2em;
    .row {
      // margin-bottom: 1em;
      // margin-top: 1em;
      height: 0;
      padding-bottom: 25%;

    }
    [class^="client-icon-"] {
      position: relative;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: block;
      @include vertical-align;
    }
  }
}
.small-12.column {
  padding-left: 0;
  padding-right: 0;
}
@media #{$small-only} {
  section {
    padding-left: 1em;
    padding-right: 1em;
  }
}
html.touch .header-video video {
  display: none;
}
@media #{$small-only} {
  .header-profile-pic {
    visibility: hidden;
  }
  .header {
    .header-container {
      padding-bottom: 66.6666666667%;

      .logo-container {
        opacity: 1;
        width: 33.3333333%;
        padding-top: 12%;
      }
    }
  }
}
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 640;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes circle {
  0% {
    stroke-dashoffset: 4955.64404296875;
    stroke-opacity: 100%;
  }
  30% {
    stroke-opacity: 100%;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-opacity: 100%;
  }
}
@-webkit-keyframes diamond {
  0% {
    stroke-dashoffset: 560;
  }
  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0%;
  }
  100% {
    fill-opacity: 100%;
  }
}
@-webkit-keyframes wireframe {
  0% {
    stroke-dashoffset: 1075;
  }
  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0%;
  }
  100% {
    fill-opacity: 100%;
  }
}
@-webkit-keyframes abacus {
  0% {
    stroke-dashoffset: 1071;
  }
  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0%;
  }
  100% {
    fill-opacity: 100%;
  }
}