@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import "compass";
@import "settings";
@import "foundation";
@import "utility";
@import "colors";
@import "shapes";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/* Compass configuration */

// Box shadow

// $default-box-shadow-color: #7b919d;
$default-box-shadow-color: rgba(0,0,0,0.35);
$default-box-shadow-blur: 10px;
$default-box-shadow-v-offset: 2px;

html {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
}
b {
  font-weight: 400;
}
canvas {
  width: 100%;
  border: red solid 2px;
}

body {
  background-color: $cyan-bright;
}
.button a {
  color: $white;
  &:hover {
    color: $white;
  }
}
@media #{$small-only} {
  body p {
    text-align: left;
  }
}
p {
  color: $white;
  text-align: justify;
  font-weight: 100;
  margin-top: 1.5em;
}
li {
  font-weight: 100;
}

h1, h2, h3, h4, h5 {
  color: $white;
  font-weight: 200;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
}

button, .button {
  background-color: transparent;
  border: 3px solid $white;
  border-radius: 2em;
  width: 100%;

  &:hover, &:focus {
    background-color: $cyan-bright;
  }
}
.background-image {

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  svg#bg_top .line {

    stroke-dasharray: 640;
    stroke-dashoffset: 0;
    stroke-width: 2px;
    stroke: $white;

    -webkit-animation: dash 2s linear forwards;
    animation: dash 2s linear forwards;
    animation: dash 2s linear;
    &.fast {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
    }
    &.slow {
      -webkit-animation-duration: 2.5s;
      animation-duration: 2.5s;
    }
  }

}

.header {
  background-color: $red;
  position: relative;
  // @include single-box-shadow;

  .header-container {
    height: 0;
    width: 100%;
    padding-bottom: 33.3333333333%;

    // background: url(../img/bg_top.svg);
    // background-size: contain;
  }

  .header-video {
    opacity: 1;
    z-index: 10;
    // width: 35.4166667%;
    width: 35.2%;
    display:block;
    position: absolute;
    top: -2.75%;
    // left: 32.31%;
    left: 32.42%;

    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;


    &.hidden {
      opacity: 0;
    }
    @include rotate(45deg);
    -o-transform: rotate(45deg);
  }
  .header-profile-pic {
    z-index: 9;
    width: 35.2%;
    position: absolute;
    top: -2.8%;
    left: 32.4%;

    @include rotate(45deg);
    -o-transform: rotate(45deg);

  }

  .logo-container {

    &.opaque {
      opacity: 0.7;
    }

    z-index: 100;

    position: relative;
    // display: none;

    padding-top: 8.3333333%;
    width: 16.666667%;
    margin: 0 auto;

    .img-container-1x {
      height: 0;
      width: 100%;
      padding-bottom: 50%;
    }
    .img-container-2x {
      height: 0;
      width: 100%;
      padding-bottom: 100%;
    }
    img {
      height: auto;
      display: block;
      width: 100%;
    }
    .resume-title {
      padding-top: 37%;
    }
    .logo-subtitle {
      padding-top: 14%;
    }
  }

  .scroll-down .triangle-down-2 {
    position: absolute;
    left: (50% - 8.333333333%);
    z-index: 100;
  }
  .triangle-label {
    color: $white;
    display: block;
    width: 16.66666667%;
    text-align: center;
    // font-style: italic;
    font-size: 1rem;
    position: relative;
    z-index: 100;
    padding-top: 0.5em;
    font-size: 1.8em;

  }
  @media all and (max-width: 1440px) {
    .triangle-label {
      padding-top: 0.5em;
      font-size: 1.4em;
    }
  }
  @media all and (max-width: 1024px) {
    .triangle-label {
      padding-top: 0.5em;
      font-size: 0.9em;
    }
  }
  @media all and (max-width: 640px) {
    .triangle-label {
      padding-top: 0.4em;
      font-size: 0.60em;
    }
  }
}
section.grey {
  background-color: $dark-grey;

  .grey-container {
    // height: 0;
    // width: 100%;
    // padding-bottom: 25%;

    // background: url(../img/bg_middle.svg);
    // background-size: contain;
  }
}
section.cyan {
  background: $cyan-dark;

  padding-top: 3em;
  padding-bottom: 2em;

  // @include single-box-shadow;

  color: $white;


}
section.skills {
  color: $dark-grey;
  background-color: $white;
  // height: 0;
  // padding-bottom: 58.333333333%;
  padding-bottom: 4em;

  .button {
    background-color: $cyan-bright;
  }

  h1, h2, h3, h4 {
    color: $dark-grey;
  }
  p {
    //To improve contrast
    color: black;
    b {
      color: $dark-grey;
    }
  }

  .skill-list {
    position: relative;
    column {
      padding-left: 20%;
      padding-right: 20%;
    }
    hr {
      width: 90%;
    }
    h3 {
      text-align: left;
      padding-bottom: 0;
    }
    ul {
      list-style-type: none;
      margin-left: 0;

      li {
        //To improve contrast
        color: black;
      }
    }
  }

@media #{$medium-up} {
  .skill-list {
    top: 1000px;
    opacity: 0;
  }
}

  .venn-diagram {

    $circle-width: 28%;

    .container {
      position: relative;
      height: 0;
      padding-bottom: 42.744%;

      svg {
        position: absolute;
        width: $circle-width;
        height: 100%;
        margin-left: 4%;
        @include transition-property(all);
        @include transition-duration(1s);
        // @include transition-timing-function(ease-in);

        &#dev-circle {
          bottom: -$circle-width * 1.6;
          left: 22%;
        }

        &#ux-circle {
          bottom: 0;
          left: 32.5%;
        }

        &#business-circle {
          bottom: -$circle-width * 1.6;
          left: 43%;
        }

        path.circle {
          stroke: $dark-grey;
          fill: none;
          stroke-width: 10px;
          stroke-dasharray: 4955.64404296875;
          stroke-dashoffset: 4955.64404296875;

          &.animate {
            -webkit-animation: circle 2s linear forwards;
            animation: circle 2s linear forwards;
          }
        }
        path.diamond {
          fill: $dark-grey;
          fill-opacity: 0%;
          stroke: $dark-grey;
          stroke-dasharray: 560;
          stroke-dashoffset: 560;

          &.animate {
            -webkit-animation: diamond 1.5s linear forwards;
            animation: diamond 1.5s linear forwards;
          }
        }

        path.wireframe {
          fill: $dark-grey;
          fill-opacity: 0%;
          stroke: black;
          stroke-dasharray: 1075;
          stroke-dashoffset: 1075;

          &.animate {
            -webkit-animation: wireframe 1.5s linear forwards;
            animation: wireframe 1.5s linear forwards;
          }
        }
        path.abacus {
          fill: $dark-grey;
          fill-opacity: 0%;
          stroke: black;
          stroke-dasharray: 1071;
          stroke-dashoffset: 1071;

          &.animate {
            -webkit-animation: abacus 1.5s linear forwards;
            animation: abacus 1.5s linear forwards;
          }
        }
      }
      &.animate-circle path.circle {
        -webkit-animation: circle 2s linear forwards;
        animation: circle 2s linear forwards;
      }
      &.animate-business path.abacus {
        -webkit-animation: abacus 1.5s linear forwards;
        animation: abacus 1.5s linear forwards;
      }
      &.animate-ux path.diamond {
        -webkit-animation: diamond 1.5s linear forwards;
        animation: diamond 1.5s linear forwards;
      }
      &.animate-development path.wireframe {
        -webkit-animation: wireframe 1.5s linear forwards;
        animation: wireframe 1.5s linear forwards;
      }
      &.animate-position svg {
        &#dev-circle {
          bottom: 0;
          left: 0%;
        }

        &#ux-circle {
          bottom: 0;
          left: 32.5%;
        }

        &#business-circle {
          bottom: 0;
          left: 65%;
        }
      }
    }
  }
}
section.get-in-touch {
  background-color: $dark-grey;

  .row {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
}

footer {
  background-color: $dark-grey;
  height: 0;
  padding-bottom: 25%;
}

.triangle-down-1.red {
  @include triangle-down(8.333333333%, $red);
}
.triangle-down-1.cyan-dark {
  @include triangle-down(8.333333333%, $cyan-dark);
}
.triangle-down-2.red {
  @include triangle-down(16.6666667%, $red);
}
.triangle-down-2.cyan-dark {
  @include triangle-down(16.6666667%, $cyan-dark);
}
.triangle-down-3.red {
  @include triangle-down(25%, $red);
}
.triangle-down-3.cyan-dark {
  @include triangle-down(25%, $cyan-dark);
}
.triangle-down-4.red {
  @include triangle-down(33.3333333%, $red);
}
.triangle-down-4.cyan-dark {
  @include triangle-down(33.3333333%, $cyan-dark);
}
@media #{$small-only} {
  .triangle-down-2.red {
    @include triangle-down(19%, $red);
  }
}

.row-justified {
  margin: 4em 0;
  text-align: justify;

  [class^="client-icon"] {
    display: inline-block;
  }
  .client-icon-airtame {
    width: 27.2030651%;
  }
  .client-icon-drobe {
    width: 12.899106%;
  }
  .client-icon-cbs {
    width: 27.5862069%;
  }
  .client-icon-nsa {
    width: 14.1762452%;
  }
  .client-icon-tigerspring {
    width: 15.5172414%;
  }
  .client-icon-suitable {
    width: 16.5364583%;
  }
  .client-icon-cesa {
    width: 16.015625%;
  }
  .client-icon-dakom {
    width: 16.4112388%;
  }
  .client-icon-formpipe {
    width: 17.2413793%;
  }
  .client-icon-agillic {
    width: 12.0689655%;
  }
  &:after {
    content: '';
    width: 100%;
    display: inline-block;
  }
}
.introduction {

  padding-top: 2em;
  padding-bottom: 2em;

  .avatar {
    margin-bottom:1em;
    border-radius: 50%;
  }

}
section.clients {
  p, h1, h2, h3, h4, h5 {
    //Tweak white color for slightly better contrast
    color: #fff;
  }
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: $cyan-dark;

  .clients-logos-mobile {
    padding-top: 2em;
    .row {
      // margin-bottom: 1em;
      // margin-top: 1em;
      height: 0;
      padding-bottom: 25%;

    }
    [class^="client-icon-"] {
      position: relative;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: block;
      @include vertical-align;
    }
  }
}
section.projects {
  [class*="project-square-2"] {
    height: 0;
    padding: 0;
    opacity: 1;
    padding-bottom: 50%;
    @include transition-property(width, padding, opacity, background-color);
    @include transition-duration(1s);
    @include transition-timing-function(ease-in);

    .container {
      position: relative;
      padding: 5%;
    }
    .close {
      position: absolute;
      right: 1em;
      top: 1em;
      opacity: 0;
      z-index: 100;
      @include transition-property(opacity);
      @include transition-delay(1.5s);
      @include transition-duration(0.5s);
    }
    &.expanded .close {
      opacity: 1;
    }

    button.expand {
      position: absolute;
      width: 50%;
      left: 25%;
      bottom: 1em;
      opacity: 1;
      @include transition-property(opacity);
      @include transition-duration(0.5s);
    }
    &.expanded button.expand {
      opacity: 0;
    }

    p {
      margin: 0;
      text-align: justify;
    }

    &.minimized {
      width: 0%;
      opacity: 0;
      padding-bottom: 33.3333333%;
    }
  }
  .expanded {
    width: 100%;
    padding-bottom: 100%;
    background-color: $dark-grey !important;

  }
  
  a {
    color: $white;
  }
  h3 {
    padding-top: 0;
  }
  h4 {
    padding-top: 1em;
    padding-bottom: 0;
    text-align: left;
    font-size: 0.8em;
    font-style: italic;

  }
  ul.keywords {
    margin: 0;
    li {
      display: inline;
      color: $white;
      font-style: italic;
      font-size: 0.8em;
    }
    li:after {
      content: ",";
    }
    li:last-child:after {
      content: ".";
    }
  }
  .project-square-2-1 {
    background-color: $cyan-dark;
  }
  .project-square-2-2 {
    background-color: darken($cyan-dark,10%);
  }
  .project-square-2-3 {
    background-color: darken($dark-grey,10%);
  }
  .project-square-2-4 {
    background-color: darken($dark-grey,25%);
  }
  .project-square-3-1, .project-square-3-2, .project-square-3-3 {
    height: 0;
    padding: 0;
    padding-bottom: 33.333333333%;
  }
  .project-square-3-1 {
    background-color: darken($cyan-dark,20%);
  }
  .project-square-3-2 {
    background-color: darken($cyan-dark, 10%);
  }
  .project-square-3-3 {
    background-color: $cyan-dark;
  }
}
.flip-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6em;
  perspective: 800px;

  .card {
    background: $red;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition-property: transform;
    transition-duration: 1s;
    transform-origin: bottom;
    -webkit-transition-timing-function: cubic-bezier(0.680, 0.130, 0.250, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.680, 0.130, 0.250, 1.200); 
       -moz-transition-timing-function: cubic-bezier(0.680, 0.130, 0.250, 1.200); 
         -o-transition-timing-function: cubic-bezier(0.680, 0.130, 0.250, 1.200); 
            transition-timing-function: cubic-bezier(0.680, 0.130, 0.250, 1.200); /* custom */

    .nav-timeline {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1em;

      svg {
        position: relative;
        width: 66.6666666667%;
      }
    }


    &.flipped {
      transform: rotateX( 180deg );
    }
  }
}
.nav-timeline {

  svg g#timeline-inactive {
    [id*="fill-"] {
      opacity: 0;
    }
  }

  svg g#timeline-active {

    [id*="fill-"] {
      opacity: 0;
    }
    [id*="stroke-"] {
      stroke-dasharray: 480;
      stroke-dashoffset: -480;
    }
    [id*="stroke-home"] {
      stroke-dasharray: 96;
      stroke-dashoffset: 96;
    }
  }


  &.active-home {
    [id*="stroke-home"] {
      -webkit-animation: active-home 0.5s linear both;
      animation: active-home 0.5s linear both;
    }
  }
  &.active-experience {
    [id*="stroke-experience"] {
      -webkit-animation: active-experience 1s linear forwards;
      animation: active-experience 1s linear forwards;
    }
  }
  &.active-projects {
    [id*="stroke-projects"] {
      -webkit-animation: active-projects 1s linear forwards;
      animation: active-projects 1s linear forwards;
    }
  }
  &.active-get-in-touch {
    [id*="stroke-get-in-touch"] {
      -webkit-animation: active-get-in-touch 1s linear forwards;
      animation: active-get-in-touch 1s linear forwards;
    }
  }
  &.dot-home {
    svg g#timeline-active [id*="fill-home"] {
      opacity: 1;
    }
  }
  &.dot-experience {
    svg g#timeline-active [id*="fill-experience"] {
      opacity: 1;
    }
  }
  &.dot-projects {
    svg g#timeline-active [id*="fill-projects"] {
      opacity: 1;
    }
  }
  &.dot-get-in-touch {
    svg g#timeline-active [id*="fill-get-in-touch"] {
      opacity: 1;
    }
  }
}

.small-12.column {
  padding-left: 0;
  padding-right: 0;
}
@media #{$small-only} {
  section {
    padding-left: 1em;
    padding-right: 1em;
  }
  section.projects {
    padding: 0;
  }
}
html.touch .header-video video {
  display: none;
}
@media #{$small-only} {
  .header-profile-pic {
    visibility: hidden;
  }
  .header {
    .header-container {
      padding-bottom: 66.6666666667%;

      .logo-container {
        opacity: 1;
        width: 33.3333333%;
        padding-top: 12%;
      }
    }
  }
}
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 640;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 640;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes circle {
  0% {
    stroke-dashoffset: 4955.64404296875;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes circle {
  0% {
    stroke-dashoffset: 4955.64404296875;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes diamond {
  0% {
    stroke-dashoffset: 560;
  }
  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0%;
  }
  100% {
    fill-opacity: 100%;
  }
}
@keyframes diamond {
  0% {
    stroke-dashoffset: 560;
  }
  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0%;
  }
  100% {
    fill-opacity: 100%;
  }
}
@-webkit-keyframes wireframe {
  0% {
    stroke-dashoffset: 1075;
  }
  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0%;
  }
  100% {
    fill-opacity: 100%;
  }
}
@keyframes wireframe {
  0% {
    stroke-dashoffset: 1075;
  }
  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0%;
  }
  100% {
    fill-opacity: 100%;
  }
}
@-webkit-keyframes abacus {
  0% {
    stroke-dashoffset: 1071;
  }
  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0%;
  }
  100% {
    fill-opacity: 100%;
  }
}
@keyframes abacus {
  0% {
    stroke-dashoffset: 1071;
  }
  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0%;
  }
  100% {
    fill-opacity: 100%;
  }
}

@-webkit-keyframes active-home {
  0% {
    stroke-dashoffset: 96;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes active-home {
  0% {
    stroke-dashoffset: 96;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes active-experience {
  0% {
    stroke-dashoffset: -480;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes active-experience {
  0% {
    stroke-dashoffset: -480;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes active-projects {
  0% {
    stroke-dashoffset: -480;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes active-projects {
  0% {
    stroke-dashoffset: -480;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes active-get-in-touch {
  0% {
    stroke-dashoffset: -480;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes active-get-in-touch {
  0% {
    stroke-dashoffset: -480;
  }
  100% {
    stroke-dashoffset: 0;
  }
}