/*Responsive CSS triangles. */
[class^="triangle-"] {
  box-sizing: content-box;
  overflow: hidden;
}

@mixin triangle-up($width, $color) {
  width: $width/2;
  height: 0;
  padding-left:$width/2;
  padding-bottom: $width/2;

  div {
    width: 0;
    height: 0;
    margin-left:-500px;
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 500px solid $color;
  }
}

@mixin triangle-right($width, $color) {
  width: 0;
  height: 0;
  padding-top: $width/2;
  padding-bottom: $width/2;
  padding-left: $width/2;

  div {
    width: 0;
    height: 0;
    margin-top:-500px;
    margin-left: -500px;
    border-top: 500px solid transparent;
    border-bottom: 500px solid transparent;
    border-left: 500px solid $color;
  }
}


@mixin triangle-down($width, $color){
  width: $width/2;
  height: 0;
  padding-left:$width/2;
  padding-top: $width/2;

  div {
    width: 0;
    height: 0;
    margin-left:-500px;
    margin-top:-500px;
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-top: 500px solid $color;
  }
}

@mixin triangle-left($width, $color) {
  width: $width/2;
  height: 0;
  padding-top: $width/2;
  padding-bottom: $width/2;

  div {
    width: 0;
    height: 0;
    margin-top:-500px;
    border-top: 500px solid transparent;
    border-bottom: 500px solid transparent;
    border-right: 500px solid $color;
  }
}

