 <!doctype html>
<html class="no-js" lang="en" ng-app="zkwsk-module">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZKWSK.COM</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <header id="header" class="header">
      <div class="bg-header background-image">
        <svg class="show-for-medium-up" id="bg_top" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 1920 640" enable-background="new 0 0 1920 640" xml:space="preserve">
          <line id="line-1" class="line" fill="none" stroke="#F1F2F2" stroke-miterlimit="10" x1="480" y1="320" x2="800" y2="0"/>
          <line id="line-2" class="line" fill="none" stroke="#F1F2F2" stroke-width="1px" stroke-miterlimit="10" x1="480" y1="320" x2="800" y2="640"/>
          <line id="line-3" class="line" fill="none" stroke="#F1F2F2" stroke-width="1px" stroke-miterlimit="10" x1="1120" y1="0" x2="1440" y2="320"/>
          <line id="line-4" class="line" fill="none" stroke="#F1F2F2" stroke-width="1px" stroke-miterlimit="10" x1="1440" y1="320" x2="1120" y2="640"/>
          <line id="line-5" class="line slow" fill="none" stroke="#F1F2F2" stroke-width="1px" stroke-miterlimit="10" x1="160" y1="160" x2="0" y2="0"/>
          <line id="line-6" class="line slow" fill="none" stroke="#F1F2F2" stroke-width="1px" stroke-miterlimit="10" x1="320" y1="160" x2="480" y2="0"/>
          <line id="line-7" class="line slow" fill="none" stroke="#F1F2F2" stroke-width="1px" stroke-miterlimit="10" x1="160" y1="480" x2="320" y2="640"/>
          <line id="line-8" class="line slow" fill="none" stroke="#F1F2F2" stroke-width="1px" stroke-miterlimit="10" x1="1600" y1="160" x2="1780" y2="0"/>
          <line id="line-9" class="line slow" fill="none" stroke="#F1F2F2" stroke-width="1px" stroke-miterlimit="10" x1="1780" y1="320" x2="1920" y2="480"/>
          <line id="line-10" class="line slow" fill="none" stroke="#F1F2F2" stroke-width="1px" stroke-miterlimit="10" x1="1440" y1="640" x2="1600" y2="480"/>
          <line id="line-11" class="line slow" fill="none" stroke="#F1F2F2" stroke-width="1px" stroke-miterlimit="10" x1="160" y1="0" x2="160" y2="640"/>
          <line id="line-12" class="line fast" fill="none" stroke="#F1F2F2" stroke-width="1px" stroke-miterlimit="10" x1="320" y1="0" x2="320" y2="640"/>
          <line id="line-13" class="line" fill="none" stroke="#F1F2F2" stroke-width="1px" stroke-miterlimit="10" x1="480" y1="0" x2="480" y2="640"/>
          <line id="line-14" class="line slow" fill="none" stroke="#F1F2F2" stroke-width="1px" stroke-miterlimit="10" x1="640" y1="0" x2="640" y2="160"/>
          <line id="line-15" class="line slow" fill="none" stroke="#F1F2F2" stroke-width="1px" stroke-miterlimit="10" x1="640" y1="480" x2="640" y2="640"/>
          <line id="line-16" class="line slow" fill="none" stroke="#F1F2F2" stroke-width="1px" stroke-miterlimit="10" x1="1280" y1="0" x2="1280" y2="160"/>
          <line id="line-17" class="line slow" fill="none" stroke="#F1F2F2" stroke-width="1px" stroke-miterlimit="10" x1="1280" y1="480" x2="1280" y2="640"/>
          <line id="line-18" class="line" fill="none" stroke="#F1F2F2" stroke-width="1px" stroke-miterlimit="10" x1="1440" y1="0" x2="1440" y2="640"/>
          <line id="line-19" class="line fast" fill="none" stroke="#F1F2F2" stroke-width="1px" stroke-miterlimit="10" x1="1600" y1="0" x2="1600" y2="640"/>
          <line id="line-20" class="line slow" fill="none" stroke="#F1F2F2" stroke-width="1px" stroke-miterlimit="10" x1="1780" y1="0" x2="1780" y2="640"/>
        </svg>
        <svg version="1.1" class="show-for-small" id="bg_top" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="648px" height="432px" viewBox="0 0 648 432" enable-background="new 0 0 648 432" xml:space="preserve">
        <g id="Layer_2">
          <polyline class="line fast" fill="none" stroke="#F1F2F2" stroke-miterlimit="10" points="270,432 54,216 270,0  "/>
          <polyline class="line fast" fill="none" stroke="#F1F2F2" stroke-miterlimit="10" points="378,0 594,216 378,432   "/>
          <line class="line slow" fill="none" stroke="#F1F2F2" stroke-miterlimit="10" x1="54" y1="0" x2="54" y2="432"/>
          <line class="line" fill="none" stroke="#F1F2F2" stroke-miterlimit="10" x1="108" y1="0" x2="108" y2="162"/>
          <line class="line" fill="none" stroke="#F1F2F2" stroke-miterlimit="10" x1="108" y1="270" x2="108" y2="432"/>
          <line class="line" fill="none" stroke="#F1F2F2" stroke-miterlimit="10" x1="162" y1="324" x2="162" y2="432"/>
          <line class="line" fill="none" stroke="#F1F2F2" stroke-miterlimit="10" x1="162" y1="0" x2="162" y2="108"/>
          <line class="line" fill="none" stroke="#F1F2F2" stroke-miterlimit="10" x1="216" y1="0" x2="216" y2="54"/>
          <line class="line" fill="none" stroke="#F1F2F2" stroke-miterlimit="10" x1="216" y1="378" x2="216" y2="432"/>
          <line class="line" fill="none" stroke="#F1F2F2" stroke-miterlimit="10" x1="432" y1="0" x2="432" y2="54"/>
          <line class="line" fill="none" stroke="#F1F2F2" stroke-miterlimit="10" x1="432" y1="378" x2="432" y2="432"/>
          <line class="line" fill="none" stroke="#F1F2F2" stroke-miterlimit="10" x1="486" y1="432" x2="486" y2="324"/>
          <line class="line" fill="none" stroke="#F1F2F2" stroke-miterlimit="10" x1="486" y1="0" x2="486" y2="108"/>
          <line class="line" fill="none" stroke="#F1F2F2" stroke-miterlimit="10" x1="540" y1="0" x2="540" y2="162"/>
          <line class="line" fill="none" stroke="#F1F2F2" stroke-miterlimit="10" x1="540" y1="270" x2="540" y2="432"/>
          <line class="line slow" fill="none" stroke="#F1F2F2" stroke-miterlimit="10" x1="594" y1="432" x2="594" y2="0"/>
        </g>
        </svg>
      </div>
      <div class="header-container">
        <video class="header-video hidden show-for-medium-up">
          <source src="img/resume_video.mp4" type='video/mp4;codecs="avc1.4D403"' /> 
          <!-- avc1.4D40xx where xx is the avc level. Do not know what the right level is -->
          <source src="img/resume_video.webm" type='video/webm;codecs="vp8"' />
          <source src="img/resume_video.ogv" type='video/ogg;codecs="theora"' />
        </video>
        <img class="header-profile-pic hide" src="img/Zaki_rhombe.jpg" alt="Zaki Wasik, UX Designer & Web Developer">
        <div class="logo-container">
<!--         <div class="logo-container profile-pic-shown"> -->
          <div class="img-container-2x">
            <!-- <img src="img/zkwsk_logo.svg" alt="Logo" class="logo"> -->
            <svg version="1.1" class="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 300.018 300.038" enable-background="new 0 0 300.018 300.038"
              xml:space="preserve">
              <g id="Main_logo">
                <path fill="#F1F2F2" d="M122.018,77.069v39.174H0.545v-4.935L83.071,7.635h-38.99c-5.702,0-9.812,0.151-12.331,0.451
                  c-2.521,0.301-4.89,0.916-7.11,1.845c-2.581,0.875-5.43,3.186-8.55,6.931c-3.121,3.747-6.073,9.636-9.989,19.636H0.018V0h122
                  v4.935L39.736,108.801h32.129c10.08,0,16.935-0.368,20.564-1.106c3.629-0.737,10.432-1.319,13.994-5.819
                  c4.196-5.3,6.625-9.875,8.847-24.806H122.018z M122.018,77.069"/>
                <path fill="#F1F2F2" d="M300.018,116.243h-49.937c-7.618-10.632-14.484-19.518-20.602-26.661
                  c-6.117-7.142-13.944-16.111-23.48-26.907h-4.678V99.15c0,1.963,0.39,3.626,1.17,4.989c0.778,1.364,2.339,2.508,4.678,3.435
                  c1.079,0.437,2.684,0.873,4.812,1.309c2.129,0.437,4.243,0.764,6.343,0.981v6.379h-67.831v-6.379
                  c1.619-0.109,3.913-0.272,6.882-0.491c2.969-0.217,5.052-0.544,6.253-0.981c2.159-0.763,3.657-1.826,4.498-3.189
                  c0.839-1.362,1.259-3.08,1.259-5.152V17.776c0-1.908-0.359-3.517-1.079-4.825s-2.28-2.48-4.678-3.517
                  c-1.86-0.763-4.109-1.391-6.747-1.881c-2.641-0.491-4.769-0.818-6.388-0.981V0.193h70.08v6.379
                  c-1.859,0.164-4.094,0.396-6.702,0.695c-2.608,0.3-4.844,0.723-6.702,1.268c-2.339,0.709-3.899,1.828-4.678,3.353
                  c-0.78,1.527-1.17,3.218-1.17,5.071v39.092h3.778c4.679-3.871,10.135-8.532,16.373-13.985c6.237-5.452,11.065-9.923,14.484-13.413
                  c4.797-4.852,8.321-8.696,10.57-11.531c2.249-2.834,3.373-5.288,3.373-7.36c0-0.927-1.079-1.636-3.238-2.126
                  s-5.458-0.845-9.896-1.063V0.193h55.506v6.379c-6.711,0.654-12.343,1.758-16.897,3.312c-4.554,1.554-9.077,4.158-13.57,7.81
                  c-6.402,5.228-11.684,9.76-15.841,13.599c-4.16,3.839-9.5,8.753-16.022,14.741c5.751,6.384,12.67,14.201,20.756,23.449
                  c8.087,9.249,16.145,18.266,24.172,27.049c2.035,2.236,4.369,4.375,7.003,6.42c2.634,2.044,5.537,3.694,8.711,4.948
                  c1.495,0.601,3.202,1.063,5.118,1.39c1.914,0.327,2.939,0.519,4.316,0.573V116.243z"/>
                <path fill="#F1F2F2" d="M123.022,136.298c-1.009,0.041-2.179,0.272-3.511,0.696c-1.332,0.423-2.564,0.98-3.694,1.665
                  c-1.413,0.889-2.553,1.907-3.42,3.059c-0.869,1.149-1.625,2.754-2.271,4.812c-2.866,9.323-6.196,20.212-9.99,32.664
                  c-3.793,12.451-7.891,25.72-12.29,39.806h-5.575l-21.688-66.169L38.04,219h-5.347c-3.996-14.127-8.133-28.788-12.411-43.983
                  c-4.278-15.197-7.144-25.378-8.598-30.544c-0.363-1.251-0.898-2.362-1.604-3.33c-0.707-0.97-1.665-1.857-2.876-2.665
                  c-1.009-0.686-2.19-1.2-3.542-1.544C2.31,136.591,1.09,136.38,0,136.298V132h35.02v4.298c-3.068,0.161-5.681,0.465-7.839,0.908
                  c-2.16,0.445-3.238,1.191-3.238,2.239c0,0.405,0.06,0.939,0.181,1.606c0.122,0.666,0.221,1.201,0.302,1.604
                  c0.927,3.552,2.569,9.424,4.929,17.617c2.358,8.194,5.857,20.462,10.494,36.806l21.441-63.867h5.925l21.636,65.229
                  c2.916-10.024,5.427-18.789,7.532-26.288c2.106-7.501,3.846-13.918,5.224-19.255c0.971-3.759,1.578-6.336,1.82-7.729
                  c0.242-1.393,0.363-2.573,0.363-3.542c0-1.372-0.938-2.522-2.815-3.451c-1.876-0.929-4.913-1.554-9.111-1.877V132h31.16V136.298z"
                  />
                <path fill="#F1F2F2" d="M189.323,178.964c1.762,1.957,3.062,4.1,3.904,6.428c0.84,2.328,1.262,5.04,1.262,8.131
                  c0,7.357-2.722,13.424-8.16,18.198c-5.44,4.775-12.192,7.162-20.252,7.162c-3.719,0-7.438-0.578-11.156-1.731
                  c-3.718-1.155-6.926-2.555-9.627-4.198L142.771,219h-4.697l-0.822-30.291h4.755c0.978,3.521,2.123,6.702,3.434,9.539
                  c1.311,2.838,3.043,5.488,5.196,7.955c2.035,2.31,4.412,4.147,7.132,5.518s5.881,2.055,9.481,2.055c2.7,0,5.058-0.353,7.074-1.058
                  c2.016-0.705,3.649-1.705,4.902-2.998c1.252-1.294,2.182-2.812,2.787-4.557c0.608-1.744,0.909-3.752,0.909-6.025
                  c0-3.331-0.938-6.437-2.816-9.316c-1.88-2.88-4.676-5.065-8.396-6.555c-2.545-1.012-5.458-2.133-8.747-3.36
                  c-3.286-1.228-6.124-2.388-8.511-3.479c-4.697-2.113-8.347-4.881-10.949-8.305c-2.603-3.423-3.904-7.894-3.904-13.41
                  c0-3.169,0.646-6.123,1.937-8.861c1.292-2.739,3.131-5.185,5.518-7.336c2.27-2.035,4.951-3.629,8.042-4.783
                  c3.093-1.154,6.32-1.732,9.687-1.732c3.837,0,7.271,0.586,10.304,1.762c3.032,1.174,5.802,2.544,8.307,4.108L185.8,132h4.698
                  l0.468,29.528h-4.754c-0.861-3.169-1.832-6.203-2.905-9.1c-1.078-2.895-2.476-5.518-4.198-7.866
                  c-1.683-2.27-3.738-4.08-6.163-5.431c-2.428-1.35-5.401-2.024-8.924-2.024c-3.72,0-6.89,1.194-9.511,3.581
                  c-2.623,2.388-3.933,5.303-3.933,8.747c0,3.601,0.841,6.585,2.523,8.953c1.682,2.368,4.129,4.315,7.338,5.841
                  c2.858,1.371,5.667,2.554,8.425,3.553c2.759,0.997,5.43,2.063,8.014,3.198c2.349,1.019,4.606,2.172,6.781,3.464
                  C185.83,175.734,187.718,177.242,189.323,178.964z"/>
                <path fill="#F1F2F2" d="M300.018,219h-23.95c-4.7-7.275-9.923-14.5-15.665-21.673c-5.742-7.174-11.762-14.133-18.056-20.877
                  h-1.594v30.287c0,1.35,0.255,2.556,0.766,3.618c0.511,1.063,1.44,1.922,2.79,2.574c0.653,0.287,1.87,0.635,3.648,1.043
                  c1.778,0.409,3.259,0.635,4.444,0.675V219H216.29v-4.353c0.938-0.082,2.309-0.204,4.107-0.368
                  c1.798-0.162,3.065-0.408,3.801-0.735c1.227-0.531,2.116-1.318,2.668-2.36c0.551-1.044,0.826-2.3,0.826-3.771V144.63
                  c0-1.39-0.235-2.596-0.704-3.618c-0.47-1.021-1.401-1.86-2.79-2.514c-1.104-0.531-2.412-1-3.924-1.41
                  c-1.513-0.408-2.842-0.653-3.984-0.736V132h36.111v4.353c-1.146,0.042-2.575,0.226-4.292,0.552
                  c-1.716,0.328-2.983,0.635-3.801,0.92c-1.391,0.49-2.33,1.309-2.82,2.453c-0.491,1.145-0.735,2.392-0.735,3.74v30.043h1.226
                  c3.679-3.106,7.297-6.346,10.853-9.718c3.555-3.372,6.784-6.734,9.687-10.086c3.229-3.719,5.589-6.692,7.081-8.921
                  c1.492-2.227,2.238-4.2,2.238-5.917c0-0.614-0.378-1.113-1.135-1.502c-0.757-0.388-1.624-0.706-2.605-0.95
                  c-1.145-0.246-2.166-0.398-3.064-0.46c-0.9-0.062-1.636-0.112-2.208-0.154V132h32.617v4.353c-0.122,0-0.389,0.021-0.797,0.062
                  c-0.408,0.042-0.878,0.082-1.408,0.123c-0.572,0.042-1.145,0.124-1.717,0.246s-1.307,0.266-2.205,0.429
                  c-1.43,0.329-2.912,0.849-4.443,1.563c-1.531,0.716-2.787,1.605-3.768,2.668c-4.208,4.782-8.597,9.73-13.167,14.843
                  c-4.569,5.113-9.099,9.774-13.587,13.987c6.219,7.028,11.364,13.074,15.437,18.14c4.071,5.067,8.398,10.48,12.981,16.241
                  c1.749,2.207,3.5,3.976,5.249,5.304c1.75,1.328,3.257,2.32,4.518,2.973c1.058,0.532,2.38,0.941,3.967,1.227
                  c1.587,0.287,2.458,0.451,3.517,0.491V219z"/>
                <path fill="#F1F2F2" d="M15.048,294.075c0,1.639-0.741,3.036-2.222,4.191S9.58,300,7.533,300c-2.049,0-3.812-0.578-5.294-1.733
                  c-1.481-1.155-2.221-2.553-2.221-4.191c0-1.638,0.74-3.05,2.221-4.234c1.481-1.186,3.245-1.777,5.294-1.777
                  c2.047,0,3.812,0.592,5.293,1.777C14.307,291.025,15.048,292.438,15.048,294.075z"/>
                <path fill="#F1F2F2" d="M54.913,300.002c-4.631,0-9.073-0.73-13.321-2.19c-4.25-1.462-8.015-3.564-11.297-6.312
                  c-3.247-2.746-5.836-6.099-7.769-10.06c-1.934-3.959-2.899-8.422-2.899-13.39s0.948-9.476,2.844-13.523
                  c1.896-4.046,4.521-7.53,7.877-10.452c3.318-2.894,7.239-5.129,11.76-6.707C46.63,235.789,51.462,235,56.604,235
                  c3.829,0,7.292,0.38,10.393,1.14c3.099,0.759,6.054,1.824,8.861,3.197l2.243-2.979h4.38l0.493,22.165h-4.489
                  c-0.583-2.161-1.459-4.505-2.625-7.031c-1.167-2.525-2.535-4.664-4.102-6.416c-1.75-1.986-3.828-3.541-6.233-4.665
                  c-2.407-1.124-5.159-1.687-8.258-1.687c-3.537,0-6.828,0.629-9.871,1.885c-3.044,1.257-5.678,3.112-7.902,5.566
                  c-2.115,2.368-3.774,5.379-4.978,9.031c-1.203,3.653-1.804,7.729-1.804,12.229c0,3.976,0.629,7.621,1.887,10.938
                  c1.257,3.317,3.054,6.232,5.388,8.745c2.333,2.485,5.095,4.428,8.285,5.831c3.19,1.402,6.754,2.104,10.693,2.104
                  c2.953,0,5.669-0.372,8.149-1.117c2.479-0.744,4.63-1.73,6.454-2.956c1.822-1.285,3.426-2.745,4.812-4.381
                  c1.386-1.634,2.516-3.416,3.392-5.343l4.106,1.576c-3.136,6.162-7.294,10.563-12.473,13.206S62.061,300.002,54.913,300.002z"/>
                <path fill="#F1F2F2" d="M170.34,243.835c3.426,2.857,6.104,6.306,8.036,10.344s2.898,8.507,2.898,13.405
                  c0,4.928-0.985,9.404-2.953,13.428s-4.702,7.45-8.201,10.278c-3.389,2.799-7.326,4.958-11.809,6.474
                  c-4.483,1.515-9.258,2.274-14.324,2.274c-5.395,0-10.379-0.81-14.953-2.428c-4.575-1.618-8.501-3.871-11.782-6.758
                  c-3.281-2.828-5.859-6.261-7.736-10.3c-1.878-4.039-2.815-8.361-2.815-12.969c0-5.044,0.984-9.541,2.952-13.493
                  c1.968-3.95,4.683-7.369,8.146-10.256c3.425-2.858,7.408-5.045,11.946-6.562c4.538-1.516,9.285-2.273,14.242-2.273
                  c5.14,0,9.986,0.772,14.543,2.317C163.086,238.863,167.022,241.035,170.34,243.835z M162.193,287.835
                  c2.04-2.652,3.526-5.656,4.456-9.01c0.929-3.354,1.394-7.101,1.394-11.241c0-4.257-0.52-8.164-1.558-11.722
                  c-1.039-3.557-2.561-6.589-4.565-9.097c-2.005-2.479-4.52-4.41-7.545-5.795c-3.025-1.386-6.488-2.078-10.388-2.078
                  c-4.374,0-8.092,0.802-11.153,2.405c-3.062,1.604-5.559,3.747-7.49,6.429c-1.823,2.566-3.18,5.57-4.073,9.011
                  c-0.894,3.441-1.339,7.057-1.339,10.847c0,4.199,0.473,7.99,1.421,11.372c0.948,3.384,2.442,6.386,4.483,9.01
                  c1.968,2.566,4.446,4.571,7.436,6.015c2.988,1.443,6.56,2.164,10.715,2.164c3.9,0,7.417-0.728,10.552-2.186
                  S160.225,290.46,162.193,287.835z"/>
                <path fill="#F1F2F2" d="M299.812,300h-34.395v-3.116c1.243-0.028,2.843-0.131,4.8-0.307c1.956-0.176,3.3-0.424,4.032-0.746
                  c1.133-0.556,1.965-1.191,2.495-1.909c0.53-0.717,0.796-1.616,0.796-2.699v-48.016h-0.823l-26.55,54.34h-2.743l-25.288-55.438
                  h-0.713v39.898c0,3.598,0.283,6.334,0.851,8.206c0.566,1.872,1.435,3.219,2.605,4.037c0.804,0.614,2.468,1.2,4.991,1.756
                  s4.169,0.849,4.938,0.877V300h-31.433v-3.116c1.646-0.116,3.374-0.336,5.185-0.658c1.81-0.321,3.209-0.804,4.196-1.448
                  c1.279-0.818,2.157-2.076,2.633-3.773c0.475-1.696,0.713-4.535,0.713-8.514v-34.588c0-1.843-0.274-3.35-0.822-4.521
                  c-0.549-1.169-1.336-2.12-2.359-2.852c-1.134-0.79-2.523-1.375-4.169-1.756c-1.646-0.38-3.273-0.6-4.882-0.658V235h26.54
                  l22.298,48.026l19.034-40.386c0.694-1.434,1.288-2.935,1.781-4.5c0.494-1.566,0.759-2.613,0.796-3.141h25.384v3.116
                  c-1.024,0.029-2.332,0.161-3.923,0.395c-1.591,0.235-2.752,0.454-3.483,0.658c-1.243,0.352-2.084,0.938-2.523,1.756
                  c-0.438,0.819-0.658,1.712-0.658,2.677v47.621c0,1.024,0.22,1.888,0.658,2.59c0.439,0.702,1.28,1.316,2.523,1.843
                  c0.658,0.293,1.828,0.563,3.511,0.812c1.682,0.248,3.018,0.388,4.005,0.416V300z"/>
              </g>
            </svg>

          </div>
          <div class="img-container-1x">
          <svg version="1.1" id="logo-subtitle" class="logo-subtitle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 302.457 65.997" enable-background="new 0 0 302.457 65.997"
             xml:space="preserve">
          <text transform="matrix(1.1 0 0 1 0 23.7383)" fill="#F1F2F2" font-family="'Georgia-Bold'" font-size="28.0453" letter-spacing="1.818">UX DESIGNER &amp;</text>
          <text transform="matrix(1.1 0 0 1 1.7837 58.2412)" fill="#F1F2F2" font-family="'Georgia-Bold'" font-size="25.5781" letter-spacing="1.818">WEB DEVELOPER</text>
          </svg>
          <!-- <img src="img/Logo_subtitle.svg" alt="" class="logo-subtitle"> -->
          </div>
        </div>
        <div class="scroll-down" style="display:none;">
          <a href="#introduction" data-smooth-scroll class="triangle-label block-center">
          <div class="triangle-down-2 cyan-dark"><div></div></div>
          <!-- <a href="#introduction" data-smooth-scroll class="triangle-label block-center">Continue</a> -->
        </div>
        </a>
      </div>
    </header>
    <section class="grey">
      <div class="grey-container">
        <div class="triangle-down-2 block-center red"><div></div></div>
        <div id="introduction" class="introduction medium-8 medium-offset-2 large-6 large-offset-3">
          <div class="row">
            <p>I am <b>Zaki Wasik</b>, a Copenhagen-based <b>UX Designer</b> and <b>Front-end developer</b>.</p>
            <img src="img/avatar_zaki_square.jpg" alt="Zaki Wasik, UX Designer and Front-end developer" class="avatar show-for-small-only small-8 small-offset-2">
            <p>My <b>passion is building great products</b> and my <b>motivation is learning</b>
    about users and technologies. I continuously seek out challenges that enables me to hone my skills in the fields of development, design and business.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="skills" class="skills" ng-controller="SkillsController">

      <h2>Experience</h2>
      <p class="medium-8 medium-offset-2 large-6 large-offset-3">
        I thrive in the crossfire between management, design and development. What makes me stand out is <b>my ability to cross boundaries</b> and work effectively together with experts in all of these fields. Learn how I can contribute to your field below...
      </p>

    <div class="row venn-diagram show-for-medium-up">
      <div class="container">
        <svg version="1.1" id="dev-circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="800px" height="800px" viewBox="0 0 800 800" enable-background="new 0 0 800 800" xml:space="preserve">

        <path class="circle" d="M400.286,795.571c-53.497,0-105.396-10.479-154.253-31.144c-47.189-19.96-89.57-48.533-125.963-84.927
          s-64.967-78.773-84.926-125.963C14.478,504.682,4,452.783,4,399.286S14.478,293.89,35.143,245.033
          c19.959-47.189,48.533-89.57,84.926-125.963s78.774-64.967,125.963-84.926C294.89,13.478,346.789,3,400.286,3
          c53.498,0,105.396,10.478,154.253,31.143c47.189,19.959,89.569,48.533,125.963,84.926c36.395,36.393,64.967,78.774,84.927,125.963
          c20.664,48.857,31.144,100.756,31.144,154.253c0,53.498-10.479,105.396-31.144,154.253c-19.96,47.188-48.532,89.569-84.927,125.963
          c-36.394,36.394-78.773,64.967-125.963,84.927C505.682,785.093,453.783,795.571,400.286,795.571z"/>

        <g>
          <g>
            <path class="wireframe" fill-rule="evenodd" clip-rule="evenodd" d="M266.252,251.037v268.78h268.773v-268.78H266.252z M438.283,509.053H277.016
              V326.292h161.268V509.053z M524.274,509.053H449.02V326.292h75.255V509.053z M524.274,315.534H277.016v-53.753h247.259V315.534z"
              />
          </g>
        </g>
        </svg>
        <svg id="ux-circle" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="800px" height="800px" viewBox="0 0 800 800" enable-background="new 0 0 800 800" xml:space="preserve">
        <g>
          <g>
            <path class="diamond" stroke="#000000" stroke-width="2" fill="none" d="M267.036,365.258l125.085,154.717l-51.503-154.717H267.036z M354.579,365.258L400.064,520.3l39.123-155.042H354.579z
               M406.982,519.975l126.965-154.717h-79.652L406.982,519.975z M534.23,355.143l-37.076-61.525l-40.418,61.525H534.23z
               M485.506,290.097h-74.144l33.726,63.624L485.506,290.097z M433.697,355.143l-33.738-61.525l-40.417,61.525H433.697z
               M389.108,290.097h-74.128l33.712,63.624L389.108,290.097z M303.331,293.617l-37.079,61.525h70.804L303.331,293.617z"/>
          </g>
        </g>
        <path class="circle" stroke="black" fill="none" stroke-width="1" d="M400.286,795.571c-53.497,0-105.396-10.479-154.253-31.143c-47.189-19.96-89.57-48.533-125.963-84.927
          s-64.967-78.773-84.926-125.963C14.478,504.682,4,452.783,4,399.286c0-53.497,10.478-105.396,31.143-154.253
          c19.959-47.189,48.533-89.57,84.926-125.963s78.774-64.967,125.963-84.926C294.89,13.478,346.789,3,400.286,3
          c53.498,0,105.396,10.478,154.253,31.143c47.189,19.959,89.569,48.533,125.963,84.926s64.967,78.774,84.927,125.963
          c20.664,48.857,31.143,100.756,31.143,154.253c0,53.498-10.479,105.396-31.143,154.253c-19.96,47.189-48.533,89.569-84.927,125.963
          s-78.773,64.967-125.963,84.927C505.682,785.093,453.783,795.571,400.286,795.571z "/>
        </svg>

        <svg version="1.1" id="business-circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="800px" height="800px" viewBox="0 0 800 800" enable-background="new 0 0 800 800" xml:space="preserve">
        <path class="circle" d="M400.286,795.571c-53.497,0-105.396-10.479-154.253-31.144c-47.189-19.96-89.57-48.533-125.963-84.927
          s-64.967-78.773-84.926-125.963C14.478,504.682,4,452.783,4,399.286S14.478,293.89,35.143,245.033
          c19.959-47.189,48.533-89.57,84.926-125.963s78.774-64.967,125.963-84.926C294.89,13.478,346.789,3,400.286,3
          c53.498,0,105.396,10.478,154.253,31.143c47.189,19.959,89.569,48.533,125.963,84.926c36.395,36.393,64.967,78.774,84.927,125.963
          c20.664,48.857,31.144,100.756,31.144,154.253c0,53.498-10.479,105.396-31.144,154.253c-19.96,47.188-48.532,89.569-84.927,125.963
          c-36.394,36.394-78.773,64.967-125.963,84.927C505.682,785.093,453.783,795.571,400.286,795.571z"/>
        <path class="abacus" fill-rule="evenodd" clip-rule="evenodd" d="M266.252,519.029V251.037h267.973v171.508v10.724v85.761H266.252z M512.805,272.47
          H287.686v64.321h21.625c1.593-12.007,8.005-21.001,15.681-21.001c7.682,0,14.074,8.994,15.667,21.001h11.479
          c1.544-12.124,7.984-21.221,15.728-21.221c7.716,0,14.177,9.097,15.714,21.221h75.759c1.537-12.124,7.991-21.221,15.707-21.221
          c7.744,0,14.197,9.097,15.722,21.221h22.038V272.47z M512.805,347.508h-21.969c-1.442,12.357-7.964,21.66-15.791,21.66
          c-7.826,0-14.307-9.302-15.762-21.66h-75.649c-1.435,12.357-7.95,21.66-15.77,21.66c-7.84,0-14.334-9.302-15.763-21.66h-11.341
          c-1.38,12.46-7.902,21.886-15.77,21.886c-7.875,0-14.396-9.426-15.79-21.886h-21.516v75.037h85.671
          c1.544-12.124,7.998-21.228,15.714-21.228c7.73,0,14.184,9.104,15.729,21.228h10.71c1.373-12.453,7.908-21.9,15.776-21.9
          s14.39,9.447,15.776,21.9h12c1.497-12.248,7.992-21.434,15.764-21.434c7.785,0,14.279,9.186,15.762,21.434h22.217V347.508z
           M512.805,433.269h-22.217c-1.482,12.22-7.977,21.447-15.762,21.447c-7.771,0-14.267-9.228-15.764-21.447H446.98
          c-1.606,12.001-8.02,20.98-15.694,20.98c-7.689,0-14.073-8.979-15.694-20.98h-10.744c-1.441,12.33-7.95,21.667-15.776,21.667
          c-7.819,0-14.328-9.337-15.756-21.667h-85.63v64.313h225.119V433.269z"/>
        </svg>
      </div>
    </div>
    <div class="row skill-list">
      <div class="all-skills development small-12 medium-10 medium-offset-1 clearfix hide">
        <h3>Development</h3>
        <hr>
        <input type="text" placeholder="What are you looking for? Type it here..." ng-model="filter_development">
        <ul ng-repeat="column in columns.development" class="medium-4 columns">
          <li ng-repeat="skill in skills.development | filter:filter_development | slice:column.start:column.end">
            {{ skill.name }}
          </li>
        </ul>
        <a class="button medium-4 text-center" href="#action_hide_skill_details">Back to overview</a>
      </div>
      <div class="all-skills design small-12 medium-10 medium-offset-1 clearfix hide">
        <h3>Design</h3>
        <hr>
        <input type="text" placeholder="What are you looking for? Type it here..." ng-model="filter_design">
        <ul ng-repeat="column in columns.design" class="medium-4 columns">
          <li ng-repeat="skill in skills.design | filter:filter_design | slice:column.start:column.end">
            {{ skill.name }}
          </li>
        </ul>
        <a class="button medium-4 text-center" href="#action_hide_skill_details">Back to overview</a>
      </div>
      <div class="all-skills management small-12 medium-10 medium-offset-1 clearfix hide">
        <h3>Management</h3>
        <hr>
        <input type="text" placeholder="What are you looking for? Type it here..." ng-model="filter_management">
        <ul ng-repeat="column in columns.management" class="medium-4 columns">
          <li ng-repeat="skill in skills.management | filter:filter_management | slice:column.start:column.end">
            {{ skill.name }}
          </li>
        </ul>
        <a class="button medium-4 text-center" href="#action_hide_skill_details">Back to overview</a>
      </div>
      <div class="select-skills small-12 medium-4 large-3 large-offset-1 column">
        <h3>Development</h3>
        <hr>
        <ul>
          <li ng-repeat="skill in skills.development | orderBy: 'priority' | limitTo: 5">
            {{ skill.name }}
          </li>
        </ul>
        <a class="button" href="#action_show_all_development_skills">Show All</a>
      </div>
      <div class="select-skills small-12 medium-4 large-3 large-offset-1 column">
        <h3>UX Design</h3>
        <hr>
        <ul>
          <li ng-repeat="skill in skills.design | orderBy: 'priority' | limitTo: 5">
            {{ skill.name }}
          </li>
        </ul>
        <a class="button" href="#action_show_all_design_skills">Show All</a>
      </div>
      <div class="select-skills small-12 medium-4 large-3 large-offset-1 column end">
        <h3>Management</h3>
        <hr>
        <ul>
          <li ng-repeat="skill in skills.management | orderBy: 'priority' | limitTo: 5">
            {{ skill.name }}
          </li>
        </ul>
        <a class="button" href="#action_show_all_management_skills">Show All</a>
      </div>
<!--     <div class="text-center medium-4 medium-offset-4 block-center"><a class="button" href="action_show_all">Show All...</a></div>
 -->    </div>
    </section>
    <section class="projects show-for-medium-up" id="projects">
      <h2>Projects</h2>
      <p class="introduction medium-8 medium-offset-2 large-6 large-offset-3">
      I have been working for <b>large companies</b> as well as <b>early-stage startups</b> and I see different opportunities in either. Below are a handful of the companies and organizations I have been working for in the past...
      </p>
        <div class="medium-6 column project-square-2-1">
          <a href="#action_close" class="close"><img src="img/cross.svg" alt="close"></a>
          <div class="container">
            <a href="http://airtame.com"><img class="logo airtame" src="img/client-icons/airtame.svg" alt="go to airtame.com"></a>
            <h3 class="role airtame">Front-end developer</h3>
            <section class="project-description">
              <div class="row">
                <div class="medium-6 columns">
                <p>
                  During spring 2014 I was working as a front-end developer at AIRTAME.
                </p><p>
                  AIRTAME had recently managed to close the - at that time - <a href="https://www.indiegogo.com/projects/airtame-wireless-hdmi-for-everyone--2" alt="go to the AIRTAME Indiegogo campaign">biggest crowdfunding round in Scandinavia</a>, at $1.3 million and was in great need of talented developers.
                </p><p>
                  I was hired to do front-end development on their main website, but eventually ended up spending most of my time developing an internal system for managing the contributions from the many supporters of the project.
                </p><p>
                  When time allowed for it I also made smaller contributions to the main website.
                </p>
                </div>
                <div class="medium-6 columns end">
                  <img src="img/airtame_animation.gif" alt="Animated preview of the system built for AIRTAME">
                  <p>Unfortunately I cannot show a live preview of the application I built, but you are welcome to <a href="#get-in-touch">get in touch</a> for more info.</p>
                </div>
              </div>
            </section>
            <div class="keywords-container">
              <h4>What I did...</h4>
              <ul class="keywords">
                <li><a href="http://rubyonrails.org/" alt="Ruby on Rails website">Ruby&nbsp;on&nbsp;Rails&nbsp;4.x</a></li>
                <li><a href="http://foundation.zurb.com" alt="ZURB Foundation website">Foundation</a></li>
                <li><a href="http://sass-lang.com/" alt="SASS: Syntactically Awesome Stylesheets website">SASS</a></li>
                <li><a href="http://heroku.com" alt="Heroku website">Heroku</a></li>
                <li><a href="http://www.vagrantup.com/" alt="Vagrant Up website">Vagrant&nbsp;Up</a></li>
              </ul>
            </div>
            <button class="expand" onclick="ZKWSK.expand_square(0);">Learn more...</button>
          </div>
        </div>
        <div class="medium-6 column project-square-2-2">
          <a href="#action_close" class="close"><img src="img/cross.svg" alt="close"></a>
          <div class="container">
            <div class="logo startupawards clearfix">
              <a href="http://nordicstartupawards.com" alt="go to nordicstartupawards.com">
                <img src="img/client-icons/nsa.png">
              </a>
              <a href="http://centraleuropeanstartupawards.com" alt="go to centraleuropeanstartupawards.com">
                <img src="img/client-icons/cesa.png">
              </a>

            </div>

            <h3 class="role startupawards">CTO</h3>

            <section class="project-description">
              <div class="row">
                <div class="medium-6 columns">
                <p>
                  I am currently the CTO of Nordic Startupawards and Central European Startupawards, two yearly recurring events that aim to celebrate the greatest startups in the Nordics and in Central Europe.
                </p><p>
                  Since the organization is fairly small, being head of IT involves many tasks rangin from design and development to project managing external vendors and performing dev-ops operations.
                </p>
                </div>
                <div class="medium-6 columns end">
                  <img src="img/browser_startupawards.gif" alt="Nordic Startup Awards Website">
                  <div class="references">
                    <h4>Live Demo:</h4>
                    <p>You can check out the sites for the two organizations at the following urls:</p>
                    <ul>
                      <li><a href="http://nordicstartupawards.com">nordicstartupawards.com</a></li>
                      <li><a href="http://centraleuropeanstartupawards.com">centraleuropeanstartupawards.com</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </section>
            <div class="keywords-container">
              <h4>What I did...</h4>
              <ul class="keywords">
                <li><a href="http://wordpress.org/">Wordpress&nbsp;3.x</a></li>
                <li><a href="http://rubyonrails.org/" alt="Ruby on Rails website">Ruby&nbsp;on&nbsp;Rails&nbsp;4.x</a></li>
                <li><a href="http://podio.com" alt="go to podio.com">Podio</a></li>
                <li><a href="http://aws.amazon.com/" alt="go to Amazon Web Services">Amazon&nbsp;EC2</a></li>
                <li><a href="#">Project&nbsp;Management</a></li>
                <li><a href="#">SCRUM</a></li>
              </ul>
            </div>
            <button class="expand" onclick="ZKWSK.expand_square(1);">Learn more...</button>
          </div>
        </div>
        <div class="medium-6 column project-square-2-3">
          <a href="#action_close" class="close"><img src="img/cross.svg" alt="close"></a>
          <div class="container">
            <a href="http://fourp.io"><img class="logo fourpio" src="img/client-icons/fourpio.svg" alt="go to fourp.io"></a>
            <h3 class="role fourpio">Front-end & UX Designer</h3>
            <section class="project-description">
              <div class="row">
                <div class="medium-6 columns">
                <p>
                  I was part of bootstrapping the startup Fourpio - a webapp that provides tools for four people to collaborate on ideas and opinions.
                </p><p>
                  Even though we where aiming for the sky and the founder, Tim Allison, already had several startups and an exit in his luggage, we ended up choosing to put the project aside in favor of other opportunities.
                </p><p>
                  We where working out of <a href="http://www.foundershouse.dk/">Founders House</a>, an ambitious co-working space in Copenhagen, and while my responsibility was front-end design, I was highly involved in both UX and adapting the business model.
                </p>
                </div>
                <div class="medium-6 columns end">
                  <img src="img/fourpio.jpg" alt="Animated preview of the system built for AIRTAME">
                  <div class="references">
                  <p>While the application never made it to market, you can still see the landing page at the following link:</p>
                  <ul>
                    <li><a href="http://fourp.io">fourp.io</a></li>
                  </ul>
                  </div>
                </div>
              </div>
            </section>
            <div class="keywords-container">
              <h4>What I did...</h4>
              <ul class="keywords">
<!--                 <li><a href="http://www.foundershouse.dk">Founders House</a></li> -->
                <li><a href="#">HTML5</a></li>
                <li><a href="#">CSS3</a></li>
                <li><a href="#">Javascript</a></li>
                <li><a href="http://getbootstrap.com/" alt="Twitter Bootstrap Website">Twitter&nbsp;Bootstrap&nbsp;3.x</a></li>
                <li><a href="#">LESS</a></li>
                <li><a href="#">PHP&nbsp;5.4</a></li>
                <li><a href="http://cakephp.org/" alt="go to cakephp.org">CakePHP</a></li>
              </ul>
            </div>
            <button class="expand" onclick="ZKWSK.expand_square(2);">Learn more...</button>
          </div>
        </div>
        <div class="medium-6 column project-square-2-4 end">
          <a href="#action_close" class="close"><img src="img/cross.svg" alt="close"></a>
          <div class="container">
            <a href="https://www.facebook.com/tigerspring"><img class="logo tigerspring" src="img/client-icons/tigerspring.svg" alt="go to the Tigerspring facebook page"></a>
            <h3 class="role tigerspring">Front-end & UX Designer</h3>
<!--             <section class="project-description">
              <div class="row">
                <div class="medium-6 columns">
                <p>
                  During summer 2013 I was part of a team of developers and designers who got to travel to Mauritius on a developer bootcamp. The aim was to build a music app for the danish recording company Tigerspring Records.
                </p><p>
                  In the morning we trained karate, daytimes where spend designing and coding and evenings where spend at local restaurants and bars. The weekends where reserved for going out and sightseeing.
                </p>
                </div>
                <div class="medium-6 columns end">
                  <img src="img/ios_music_app.png" alt="Animated preview of the system built for AIRTAME">
                  <p>
                  I got to hone my skills in front-end development as well as UX design. During the first few weeks I took part in conducting user-research, building personas and scenarios. Then we did the information architecture and build wireframes and finally I was responsible for implementing the designs using Twitter Bootstrap on top of .NET-based application stack.
                  </p>
                  <p>(The actual product is protected by an NDA, but above is a prototype I built for Tigerspring before the trip.)</p>
                </div>
              </div>
            </section> -->
            <section class="project-description">
              <div class="row">
                <div class="medium-12 columns">
                  <p><img class="img-float-right medium-6" src="img/ios_music_app.png" alt="Animated preview of the system built for AIRTAME">
                    During summer 2013 I was part of a team of developers and designers who got to travel to Mauritius on a developer bootcamp. The aim was to build a music app for the danish recording company Tigerspring Records.
                  </p><p>
                    In the morning we trained karate, daytimes where spend designing and coding and evenings where spend at local restaurants and bars. The weekends where reserved for going out and sightseeing.
                  </p>
                  <p>
                  I got to hone my skills in front-end development as well as UX design. During the first few weeks I took part in conducting user-research, building personas and scenarios. Then we did the information architecture and build wireframes and finally I was responsible for implementing the designs using Twitter Bootstrap on top of .NET-based application stack.
                  </p>
                  <p>The actual product is protected by an NDA - and has still not been launched - but above is a prototype I built for Tigerspring before the trip which is excluded from the NDA.</p>
                </div>
              </div>
            </section>
            <div class="keywords-container">
              <h4>What I did...</h4>
              <ul class="keywords">
                <li><a href="#">HTML5</a></li>
                <li><a href="#">CSS3</a></li>
                <li><a href="http://jquery.com">jQuery</a></li>
                <li><a href="http://getbootstrap.com/" alt="Twitter Bootstrap Website">Twitter&nbsp;Bootstrap&nbsp;3.x</a></li>
                <li><a href="#">C#</a></li>
                <li><a href="http://www.microsoft.com/net">.NET</a></li>
                <li><a href="#">Razor</a></li>
              </ul>
            </div>
            <button class="expand" onclick="ZKWSK.expand_square(3);">Learn more...</button>
          </div>
        </div>
<!--         <div class="medium-4 column project-square-3-1">
          <h3>Test</h3>
        </div>
        <div class="medium-4 column project-square-3-2">
          <h3>Test</h3>
        </div>
        <div class="medium-4 column project-square-3-3">
          <h3>Test</h3>
        </div> -->
    </section>
<section id="clients" class="clients">
      <h3>...some other people I’ve worked with...</h3>
        <p class="medium-8 medium-offset-2 large-6 large-offset-3">

        </p>
      <div id="client-logos-desktop" class="clients-logos medium-8 medium-offset-2 show-for-medium-up">
        <div class="row-justified">
          <a href="http://drobe.dk" alt="DROBE"><img src="img/client-icons/drobe.png" alt="drobe" class="client-icon-drobe"></a>
          <a href="http://cbs.dk"><img src="img/client-icons/cbs.png" alt="cbs" class="client-icon-cbs"></a>
          <a href="http://agillic.com"><img src="img/client-icons/agillic.png" alt="agillic" class="client-icon-agillic"></a>
        </div>
        <div class="row-justified">
          <a href="http://danskkommunikation.dk" alt="Dansk Kommunikation"><img src="img/client-icons/dakom.png" alt="dakom" class="client-icon-dakom"></a>
          <a href="http://suitableforbusiness.dk" alt"Suitable For Business"><img src="img/client-icons/suitable.png" alt="suitable" class="client-icon-suitable"></a>
          <a href="http://formpipe.com/da/"><img src="img/client-icons/formpipe.png" alt="formpipe" class="client-icon-formpipe"></a>
        </div>
      </div>
      <div id="client-logos-mobile" class="clients-logos clients-logos-mobile show-for-small-only">
        <div class="row small-8">
          <a href="http://airtame.com" alt="AIRTAME"><img src="img/client-icons/airtame.png" alt="airtame" class="client-icon-airtame"></a>
        </div>
        <div class="row small-12">
          <a class="small-6 column" href="http://nordicstartupawards.com" alt="Nordic Startup Awards"><img src="img/client-icons/nsa.png" alt="nsa" class="client-icon-nsa"></a>
          <a class="small-6 column end" href="http://centraleuropeanstartupawards.com"><img src="img/client-icons/cesa.png" alt="cesa" class="client-icon-cesa"></a>
        </div>
        <div class="row small-8">
          <a href="http://cbs.dk"><img src="img/client-icons/cbs.png" alt="cbs" class="client-icon-cbs"></a>
        </div>
        <div class="row small-12">
          <a class="small-6 column" href="http://drobe.dk" alt="DROBE"><img src="img/client-icons/drobe.png" alt="drobe" class="client-icon-drobe"></a>
          <a class="small-6 column end" href="http://suitableforbusiness.dk" alt"Suitable For Business"><img src="img/client-icons/suitable.png" alt="suitable" class="client-icon-suitable"></a>
        </div>
        <div class="row small-8">
          <a href="http://formpipe.com/da/"><img src="img/client-icons/formpipe.png" alt="formpipe" class="client-icon-formpipe"></a>
        </div>
        <div class="row small-12">
          <a class="small-6 column" href="http://tigerspring.net" alt="Tigerspring Records"><img src="img/client-icons/tigerspring.png" alt="tigerspring" class="client-icon-tigerspring"></a>
          <a class="small-6 column end" href="http://agillic.com"><img src="img/client-icons/agillic.png" alt="agillic" class="client-icon-agillic"></a>
        </div>
      </div>
    </div>
    </section>
    <section id="get-in-touch" class="get-in-touch">
    <h2>Get in touch!</h2>
<!--     <p class="medium-8 medium-offset-2 large-6 large-offset-3">
      I am always looking for opportunities to work with talented people building exciting products and services. Want to learn more about me? Download my CV, add me on linkedin - or if we've met personally - add me on Facebook, snoob around on my github and read my posts on stackexchange and finally don't forget to send me an email to tell me how we might help each other.
    </p> -->
    <p class="medium-8 medium-offset-2 large-6 large-offset-3">
      I am always looking for opportunities to work with talented people and build exciting products and services. Want to learn more about me? Download my CV and don't forget to send me an email to get introduced.
    </p>
      <div class="row">
        <div class="small-12 medium-4 medium-offset-2 columns">
          <div class="button">
            <script type="text/javascript" language="javascript">
            <!-- // Generated by http://rumkin.com/tools/mailto_encoder
            ML="tmGo@b.euf>\" :za=/slI<crwhTkni";
            MI="E?<IG79@;1?MC03=>?KM4H75F3LB86C0;:270<DL<J38FIEA?:";
            OT="";
            for(j=0;j<MI.length;j++){
            OT+=ML.charAt(MI.charCodeAt(j)-48);
            }document.write(OT);
            // --></script>
          </div>
        </div>
        <div class="small-12 medium-4 columns end">
          <a href="http://downloads.zkwsk.com/Resume_2014.pdf" class="button show-cv">Download CV</a>
        </div>
      </div>
    </section>


    <section class="flip-container">
      <div id="card" class="card flipped">
        <div class="nav-timeline"> <!-- .active-home .active-experience .active-projects .active-get-in-touch -->
          <div class="link-overlay">
            <a href="#header" data-smooth-scroll class="home"></a>
            <a href="#skills" data-smooth-scroll class="skills"></a>
            <a href="#projects" data-smooth-scroll class="projects"></a>
            <a href="#get-in-touch" data-smooth-scroll class="get-in-touch"></a>
          </div>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1356px"
             height="76.5px" viewBox="297.5 80.25 1356 76.5" enable-background="new 297.5 80.25 1356 76.5" xml:space="preserve">
          <g id="timeline-inactive">
            <text transform="matrix(1 0 0 1 301.5039 149)" fill="#FFC0C3" font-family="'OpenSans'" font-size="24">Home</text>
            <text transform="matrix(1 0 0 1 688.9766 149)" fill="#FFC0C3" font-family="'OpenSans'" font-size="24">Experience</text>
            <text transform="matrix(1 0 0 1 1120.6875 149)" fill="#FFC0C3" font-family="'OpenSans'" font-size="24">Projects</text>
            <text transform="matrix(1 0 0 1 1509.5195 149)" fill="#FFC0C3" font-family="'OpenSans'" font-size="24">Get In Touch</text>
            <circle id="fill-get-in-touch" fill="#FFC0C3" cx="1580.5" cy="99.5" r="10"/>
            <path id="stroke-get-in-touch" fill="none" stroke="#FFC0C3" stroke-width="3" stroke-miterlimit="10" d="M1565.5,99.667
              c0.264,8.054,6.936,14.833,15.053,14.833c8.283,0,14.973-6.716,14.973-15s-6.729-15-15.012-15c-8.285,0-15.014,6.716-15.014,15
              H1180"/>
            <circle id="fill-projects" fill="#FFC0C3" cx="1165.5" cy="99.5" r="10"/>
            <path id="stroke-projects" fill="none" stroke="#FFC0C3" stroke-width="3" stroke-miterlimit="10" d="M1150.5,99.667
              c0.264,8.054,6.936,14.833,15.053,14.833c8.283,0,14.974-6.716,14.974-15s-6.729-15-15.013-15c-8.285,0-15.014,6.716-15.014,15H765
              "/>
            <circle id="fill-experience" fill="#FFC0C3" cx="750.5" cy="99.5" r="10"/>
            <path id="stroke-experience" fill="none" stroke="#FFC0C3" stroke-width="3" stroke-miterlimit="10" d="M735.5,99.667
              c0.264,8.054,6.936,14.833,15.052,14.833c8.284,0,14.975-6.716,14.975-15s-6.729-15-15.014-15s-15.013,6.716-15.013,15H350"/>
            <circle id="fill-home" fill="#FFC0C3" cx="335.5" cy="99.5" r="10"/>
            <circle id="stroke-home" fill="none" stroke="#FFC0C3" stroke-width="3" stroke-miterlimit="10" cx="335.5" cy="99.5" r="15"/>
          </g>
          <g id="timeline-active">
            <text transform="matrix(1 0 0 1 301.5039 149)" fill="#F1F2F2" font-family="'OpenSans'" font-size="24">Home</text>
            <text transform="matrix(1 0 0 1 688.9766 149)" fill="#F1F2F2" font-family="'OpenSans'" font-size="24">Experience</text>
            <text transform="matrix(1 0 0 1 1120.6875 149)" fill="#F1F2F2" font-family="'OpenSans'" font-size="24">Projects</text>
            <text transform="matrix(1 0 0 1 1509.5195 149)" fill="#F1F2F2" font-family="'OpenSans'" font-size="24">Get In Touch</text>
            <circle id="fill-get-in-touch_1_" fill="#F1F2F2" stroke="#F1F2F2" stroke-miterlimit="10" cx="1580.5" cy="99.5" r="10"/>
            <path id="stroke-get-in-touch_1_" fill="none" stroke="#F1F2F2" stroke-width="3" stroke-miterlimit="10" d="M1565.5,99.667
              c0.264,8.054,6.936,14.833,15.053,14.833c8.283,0,14.973-6.716,14.973-15s-6.729-15-15.012-15c-8.285,0-15.014,6.716-15.014,15
              H1180"/>
            <circle id="fill-projects_1_" fill="#F1F2F2" cx="1165.5" cy="99.5" r="10"/>
            <path id="stroke-projects_1_" fill="none" stroke="#F1F2F2" stroke-width="3" stroke-miterlimit="10" d="M1150.5,99.667
              c0.264,8.054,6.936,14.833,15.053,14.833c8.283,0,14.974-6.716,14.974-15s-6.729-15-15.013-15c-8.285,0-15.014,6.716-15.014,15H765
              "/>
            <circle id="fill-experience_1_" fill="#F1F2F2" cx="750.5" cy="99.5" r="10"/>
            <path id="stroke-experience_1_" fill="none" stroke="#F1F2F2" stroke-width="3" stroke-miterlimit="10" d="M735.5,99.667
              c0.264,8.054,6.936,14.833,15.052,14.833c8.284,0,14.975-6.716,14.975-15s-6.729-15-15.014-15s-15.013,6.716-15.013,15H350"/>
            <circle id="fill-home_1_" fill="#F1F2F2" cx="335.5" cy="99.5" r="10"/>
            <circle id="stroke-home_1_" fill="none" stroke="#F1F2F2" stroke-width="3" stroke-miterlimit="10" cx="335.5" cy="99.5" r="15"/>
          </g>
          </svg>


<!--           <ul class="nav-list">
            <li class="home"><a href="#">Home</a></li>
            <li class="experience"><a href="#" alt="">Experience</a></li>
            <li class="projects"><a href="#" alt="">Projects</a></li>
            <li class="get-in-touch"><a href="#" alt="">Get in Touch</a></li>
          </ul> -->
        </div>
      </div>
    </section>







    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery-waypoints/waypoints.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/min/app-min.js"></script>
    <script>



    </script>
  </body>
</html>
