@font-face {
	font-family: 'webconsult';
	src:url('fonts/webconsult.eot');
	src:url('fonts/webconsult.eot?#iefix') format('embedded-opentype'),
		url('fonts/webconsult.ttf') format('truetype'),
		url('fonts/webconsult.woff') format('woff'),
		url('fonts/webconsult.svg#webconsult') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'webconsult';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
	content: "\e600";
}
.icon-envelope2:before {
	content: "\e601";
}
.icon-ruler:before {
	content: "\e602";
}
.icon-resize:before {
	content: "\e603";
}
.icon-ruler2:before {
	content: "\e604";
}
.icon-ruler3:before {
	content: "\e605";
}
.icon-stats:before {
	content: "\e606";
}
.icon-abacus:before {
	content: "\e607";
}
.icon-rocket:before {
	content: "\e608";
}
.icon-resize2:before {
	content: "\e609";
}
.icon-presentation:before {
	content: "\e60a";
}
.icon-target:before {
	content: "\e60b";
}
.icon-cogs:before {
	content: "\e60c";
}
.icon-cog:before {
	content: "\e60d";
}
.icon-hammer:before {
	content: "\e60f";
}
.icon-tools:before {
	content: "\e610";
}
.icon-tv:before {
	content: "\e611";
}
.icon-tv2:before {
	content: "\e612";
}
.icon-venn:before {
	content: "\e60e";
}
.icon-tools2:before {
	content: "\e613";
}
.icon-twitter:before {
	content: "\e614";
}
.icon-twitter2:before {
	content: "\e615";
}
.icon-facebook:before {
	content: "\e616";
}
.icon-github:before {
	content: "\e61c";
}
.icon-twitter-sign:before {
	content: "\e617";
}
.icon-linkedin-sign:before {
	content: "\e618";
}
.icon-facebook-sign:before {
	content: "\e619";
}
.icon-skype:before {
	content: "\e61a";
}
.icon-github-sign:before {
	content: "\e61d";
}
.icon-skype2:before {
	content: "\e61b";
}
